section.notification {
   padding: 30px 0 0 0;
   margin: 0 auto 0 auto;
   text-align: center;
}

div.error, div.warning, div.success, div.information  {
    padding: 10px 10px 10px 36px;
    margin: 10px 0;
    border: solid 1px;
    display: inline-block;
    width: auto;
}

div.error {
    border-color: #DF8F8F;
    background: #FFD7D7 url('../images/error.png') no-repeat 14px 10px;
}

div.warning {
    border-color: #E6DB55;
    background: #FFFBCC url('../images/warning.png') no-repeat 14px 10px;
}

div.success {
    border-color: #ACDBAD;
    background: #ECFAE3 url('../images/success.png') no-repeat 14px 10px;
}

div.information {
    border-color: #357ebf;
    background: #b0c9e4 url('../images/information.png') no-repeat 14px 10px;
}